

:root{
    --light-blue: #C9E1E6;
    --blue:#8BBCBC;
    --gold:#B59323;
    --white:#FCFCFC;
    --grey:#524B4B;
}

/*Sektion 1 - blogintro*/

.blog-intro {
    background-color: var(--blue);
}


h1 {
    font-family: 'Fredericka the Great';
    font-size: 50px;
    font-weight: 100;
    color: var(--grey);
    text-align: center;
}

h2 {
    font-family: 'El messiri';
}
