

:root{
    --light-blue: #C9E1E6;
    --blue:#8BBCBC;
    --gold:#B59323;
    --white:#FCFCFC;
    --grey:#524B4B;
}

body{
    background-color: var(--white);
}

h1{
    text-align: center;
    color: var(--grey);
}